/*---  RESET STYLES  ---*/
@import url("reset.css");

ul {
    list-style: none;
}

/*----------------------------*/

html {
    box-sizing: border-box;
}

*,
::after,
::before  {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.container {
    max-width: 1960px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.open {
    display: flex !important;
}

/*---------  HEADER  ---------*/


.header__top {
   padding-top: 14px;
   padding-bottom: 14px;
}

.header__top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 405px;
    padding-right: 405px;
    color: #969696;
}

.phone {
    padding-left: 4px;
}

.enter {
    padding-left: 4px;
}

.header__bottom {
    background-color: #0F0F0F;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 23px;
    padding-right: 405px;
}

.menu__list {
    display: flex;
    gap: 23px;
    text-transform: uppercase;

}

.menu__list-icon {
    display: flex;
    gap: 40px;
}

.header__logo { 
padding-left: 405px;
color: #FFFFFF;
font-family: Open Sans;
font-size: 36px;
font-weight: 700;
line-height: 49px;
text-transform: uppercase;
}



.menu__list-link:hover {
    background-color: #1F1F1F;
    padding-top: 26px;
    padding-bottom: 28px;
    transition: .5s;
}

/*----------------------------*/

/*---------  HEADER  ---------*/

.descripton__content {
    padding-top: 160px;
   
    background-image: url("/images/bg/bg-description.png")
}

.description__logo {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 320px;
    height: 320px;
    border: 3px solid #fff;
    text-align: center;
    padding-top: 115px;
    margin-left: auto;
    margin-right: auto;

}

.description__logo-porten {
    text-decoration: underline;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    text-transform: uppercase;
}

.description__logo-city {

font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0%;
text-transform: uppercase;
}

.description__text {
    padding-top: 80px;
    padding-bottom: 250px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    width: 730px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    

}

/*----------------------------*/


/*---  FOOTER  ---*/

.footer__about-company {
    width: 350px;
}

.footer__category {
    width: 350px;
}

.footer__mailing {
    width: 350px;
}


.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 24px;
    background-image: url("/images/bg/bg-footer.png");
    padding-left: 40px;
    padding-right: 40px;
}

.footer__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400px;
    line-height: 36px;
    padding-bottom: 36px;
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    
}



.footer__list-button {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #D0D0D0;
    background-color: #0F0F0F;
    width: auto;
    height: 41px;
    border: none;
    padding: 10px 20px 10px 20px;
}

.footer__menu-list {
    display: flex;
    flex-wrap: wrap;

}

.footer__menu-list-item {
    padding-bottom: 20px;
}


.footer__submit {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #D0D0D0;
    background-color: #0F0F0F;
    width: auto;
    height: 41px;
    border: none;
    padding: 10px 20px 10px 20px;
}

.footer__submit:hover {
    background-color: #212121;
    transition: .5s;
}

.footer__input {
    padding-left: 10px;
    border: none;
    width: 190px;
    height: 40px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
}

.footer__mailing-form {
    padding-top: 5px;
}



.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 405px;
    padding-right: 405px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0F0F0F;
}

/*----------------------------*/


/*---  BURGER  ---*/

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #fff;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all .3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

/*----------------------------*/


/*---------  MEDIA  ---------*/
@media (max-width: 1500px)  and (min-width: 1274px){
    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }

    .header__top-info {
        padding-left: 202px;
        padding-right: 202px;
    }

    .header__logo {
        padding-left: 202px;
    
    }

    .menu {
        padding-right: 202px;
    }

    .footer__top {
        padding-left: 202px;
        padding-right: 202px;
    }

    .footer__bottom {
        padding-left: 202px;
        padding-right: 202px;
    }
}

/*----------------------------*/

@media (max-width: 1275px) {
    .footer__submit {
    width: 190px;
    }
}

/*----------------------------*/

@media (min-width: 1024px)  {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }

    .header__top-info {
        padding-left: 101px;
        padding-right: 101px;
    }

    .header__logo {
        padding-left: 101px;
    
    }

    .menu {
        padding-right: 101px;
    }

    .footer__top {
        padding-left: 101px;
        padding-right: 101px;
    }

    .footer__bottom {
        padding-left: 101px;
        padding-right: 101px;
    }
}

    /*----------------------------*/

    @media (min-width: 768px){

        .container {
            padding-left: 10px;
            padding-right: 10px;
            margin: 0 auto;
        }

        .header__top-info {
            padding-left: 50px;
            padding-right: 50px;
        }
    
        .header__logo {
            padding-left: 50px;
        
        }

        .footer__bottom {
            padding-left: 50px;
            padding-right: 50px;
        
        }

        .menu {
            padding-right: 50px;
        }
    }

    /*----------------------------*/

    @media (min-width: 375px) and (max-width: 767px) {
        .container {
            padding-left: 0;
            padding-right: 0;
        }

        

        .footer__title {
            font-size: 16px;
            font-weight: 200px;
        }

        .footer__text {
            font-size: 12px;
            font-weight: 200px;
        }

        .footer__list-button {
            font-size: 12px;
            font-weight: 200px;
            width: auto;
            height: auto;
        }

        .footer__submit {
            font-size: 12px;
            font-weight: 200px;
        }

        .footer__top {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 10px;
        }

        .footer__bottom {
            padding-left: 15px;
            padding-right: 0;
        }

        .header__top-info {
            padding-left: 10px;
            padding-right: 0;
            
    }

        .header__logo {
            padding-left: 10px;
        }

        .burger {
            padding-right: 10px;
        }

    /*----------------------------*/


    @media (max-width: 780px) {
        .burger {
            display: flex;
        }

        .menu {
            display: none;
            flex-direction: column;
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: 50;
            overflow-y: auto;
            padding: 50px 40px;
            background-color: black;
            animation: burgerAnimation .4s;
        }

        .menu__list {
            flex-direction: column;
            row-gap: 30px;
        }

    }

    @keyframes burgerAnimation {
        form {opacity: 0}

        to {opacity: 1}
    }


     /*----------------------------*/

    @media (max-width: 1023px) {
        
        .footer__top {
            flex-direction: column;
            align-items: center
        }


     }
    

    /*----------------------------*/